<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.github.volley_examples"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.App_VolleyExamples"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".UnknownCertificateAuthorityActivity"
            android:label="UnknownCertificateAuthorityActivity"/>
        <activity
            android:name=".OkHttpStackSslTest"
            android:label="OkHttpStackSslTest"/>

        <service
            android:name=".GetAndStoreCertificate"
            android:enabled="true"/>
        <receiver
            android:name=".receivers.ResponseReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.github.volley_examples.BROADCAST"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
